body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

hr {
    width: 500px;
}

#board {
    width: 400px;
    height: 400px;

    background-color: #cdc1b5;
    border: 6px solid #bbada0;

    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.tile {
    width: 90px;
    height: 90px;
    border: 5px solid #bbada0;

    font-size: 40px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
}


/* colored tiles */

.x2 {
    background: url("musicNotes.png");
    background-size: cover;
    color: transparent;
}

.x4 {
    background: url("saxophone.png");
    background-size: cover;
    color: transparent;
}

.x8 {
    background: url("microphone.jpeg");
    background-size: cover;
    color: transparent;
}

.x16{
    background: url("Miniature\ Designer\ Shopping\ Bags\ Display.png");
    background-size: cover;
    color: transparent;
}

.x32{
    background: url("laneige.jpeg");
    background-size: cover;
    color: transparent;
}

.x64{
    background: url("solDeJaneiro.jpeg");
    background-size: cover;
    color: transparent;
}

.x128{
    background: url("lululemon.png");
    background-size: cover;
    color: transparent;
}

.x256{
    background: url("sephora.jpeg");
    background-size: cover;
    color: transparent;
}

.x512{
   background: url("pup.jpg");
    background-size: cover;
    color: transparent;
}

.x1024{
    background: url("wicked.jpeg");
    background-size: cover;
    color: transparent;
}

.x2048{
    background: url("zombies4.jpeg");
    background-size: cover;
    color: transparent;
}

.x4096 {
    background: url("worldsCollide.jpg");
    background-size: cover;
    color: transparent;
}

.x8192 {
    background: url("pudgyPenguin.png");
    background-size: cover;
    color: transparent;
}